#controls{
    border: 1px solid gray;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    box-shadow: 4px 4px 8px gray;
    border-radius: 4px;
}

#user-edit{
    border: 1px solid gray;
    padding: 50px;
    margin-top: 50px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 4px;
}

#lessons{
    width: 85%;
    border: 1px solid gray;
    padding: 50px;
    margin-top: 50px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 4px;
}

#lessons-con{
    width: 75%;
    margin: auto;
    padding: 50px;
}


.custom-btn{
    width: 500px;
    margin: auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}